
*{
  box-sizing: border-box;
}

.background1{
height: 100vh;
width: 100%;
display: flex;
align-items: center;
color: rgb(102, 98, 133);
background-color:transparent;
background:url(https://cdn.pixabay.com/photo/2017/04/04/18/03/video-game-console-2202528_1280.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin: 0;
margin: 0;;

}
/* https://img.freepik.com/foto-gratis/control-actividad-estacion-cable-relajacion_1172-483.jpg?w=996&t=st=1659242090~exp=1659242690~hmac=5057a8d730ec8797e6f2d39a2a4cf9299cc897ee4fec6e4fa38f872ab67e3a14 */


/*.overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.26) ;
  z-index: 1 ;
} */

.titulo{
  z-index: 2;
  align-items:flex-start;
  margin-right: 50%;
  margin-bottom: 20%;
  border-radius: 10px;
  padding: 20px 15px;
  background-color: transparent;
  background-position: 1%;
}

.title{
  font-size: 45px;
  margin-bottom: 0;
  display: flex;
  align-items: left;
  z-index: 2;
  align-items:flex-start;
  margin-right: 50%;
  font-size: 30px;
  font-family: "Comic Neue", cursive;
  color: rgb(40, 183, 191);
}

.btn{
  border-radius: 10px;
  border-style: none;
  background-color: rgba(112, 135, 135, 0.685);
  margin-top: 10px;
  padding: 10px;
  cursor: pointer ;
  align-items: center;
 border-inline-color: blue;
}

.btn:hover {
  background-color: rgb(19, 15, 15);
  color: #8a2121;
  transition-delay: 0.2s;
  transition: 0.8s;
}

.bottomBar{
  width: 30%;
  height: 80px;
  background-color:  rgba(43, 182, 138, 0.685);
  position: fixed;
  margin: 0;
  margin-top: 38%;
  margin-left: 70%;
}

